:root{
--primary-brand-color: #4D5AE5;
--pressed-state-color: #404BBF;
--dark-color: #2E2F42;
--success-color: #31D0AA;
--text-color: #434455;
--subtle-text-color: #8E8F99;
--accent-color: #E7E9FC;
--light-color: #F4F4FD;
--modal-overlay-color: #2E2F42;
--hero-background-color: #2E2F42;
--white-background-color: #FFFFFF;
--modal-background-color: #FCFCFC;
}
.body{
    font-family: "Roboto", sans-serif;
    background-color: var(--modal-background-color);
    color: var(--text-color)
    }
    
.background {
    background-color: var(--dark-color);
}
.logo{
    font-family: "Raleway", sans-serif;
    color: var(--primary-brand-color);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
}
.logo-header{
    font-family: "Raleway", sans-serif;
    color: var(--light-color);
    font-size: 18px;
    font-weight: 800;  
    text-decoration: none; 
}
.logo-header-nav {
    color: var(--modal-overlay-color);
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
}
.footer-text {
    color: var(--light-color);
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
}
.link {
    color: var(--dark-color);
}
.nav-list{
    color: var(--dark-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.section{

}
.contact-list{
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.button{
    background-color: var(--pressed-state-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-background-color);
    cursor: pointer;
}
.portfolio-button{
    color: #405AE5;
    font-size: 16px;
    font-weight: 500;
}
.portfolio-heading{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}
.portfolio-category{
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.index-button{
    color: #FFFFFF;
    font-size: 16mp;
    font-weight: 500;
}
.index-heading {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}
.index-category {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.list{
    list-style: none;
}
.mouse{
    cursor: pointer;
}
.link:hover,
.link:focus,
.link:active{
    color: tomato;
}

